<!DOCTYPE html>
{% extends "private/base.html" %}

{% block body_block %}

<h1> create Email</h1>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</div>
<br>
<div clas="container">
    <table class="table">
        <tr>
            <th><u><h3>Email</h3></u></th>
            <th><u><h3>Options</h3></u></th>
        </tr>
        {% for items in qs %}
        <tr>
            <td><b>{{items.mail}}</b></td>
            <td><a href="{% url 'editmail' items.id %}" class="btn btn-outline-primary">Edit</a></td>
            <td><a href="{% url 'deletemail' items.id %}" class="btn btn-outline-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </table>


</div>

{% endblock %}